@import url('reset.css');

body{
    font-family: 'Roboto', sans-serif;
    color: #222222 !important;
}

.header{
    background-color:white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
    margin: auto;
    box-shadow: rgba(0,0,0, 0.18) 0px 1px 2px;
}

.header div{
    flex-grow: 1;
    padding: 18px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF385C;
    font-weight: bolder;
    font-size: 22px;
    font-family: 'Poppins', sans-serif,'Balsamiq Sans', cursive;
}
.logo img{
    text-align: center;
    width: 50px;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter button{
    height: 40px;
    cursor: pointer;
    outline: none;
    padding: 0 16px;
    background-color: white;
    border: solid 1px rgba(0,0,0,0.10);
    border-right: none;
    justify-content: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.12);
}

.filter button:last-child{
    border-right: 1px solid rgba(0,0,0, 0.10);
    border-radius: 0 22px 22px 0;
}

.filter button:first-child{
    border-radius: 22px 0 0 22px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav button{
    outline: none;
    height: 40px;
    padding: 0 16px;
    font-weight: bold;
    background-color: white;
    border-radius: 22px;
    margin-right: 10px;
    border: none;
}

.nav button:last-child{
    margin-right: 50px;
    border:  1px solid rgb(235,235,235);
    border-radius: 22px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.18);
}


/*main --section */

.main{
    margin: 140px 100px 0 100px;
}

.main-title{
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}

.filter-list{
    margin-top: 22px;
    margin-left: 10px;
    display: flex;
}

.filter-list button{
    margin-right: 16px;
    background-color: white;
    border: rgba(0,0,0,0.36) 1px solid;
    border-radius: 22px;
    padding: 10px 20px; 
}
.filter-list button:hover{
    cursor: pointer;
    border: rgba(0,0,0, 0.70) 1px solid;
}

.accommodation{
    margin-top: 26px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

.list-item{
    width: 260px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    padding: 10px;
}
.card{
    display: flex;
    flex-direction: column;
}
.card-image img{
    border: rgba(0,0,0,0.18) 1px 2px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,20) 0px 1px 2px ;
    width: 100%;
}
.card-rating{
    padding: 4px;
}
.card-rating span{
    font-size: 14px;
}
.card-rating i{
    color: #FF385C;
}
.card-description{
    font-size: 14px;
    padding: 4px;
}
.card-price{
    font-size: 16px;
    font-weight: bolder;
    font-family: inherit,sans-serif;
    padding: 4px;
}